/* STYLES */
.container {
  margin-top: 50px;
  font-family: "Century Gothic";
  font-size: 20px;
}
.leaving {
  color: #F00;
}
.staying {
  color: rgb(1, 73, 1);
}

#results h2 {
  margin-top: 50px;
  text-align: center;
}

body {
    background: #f1f1f1;
    font-family: "Century Gothic";
  }

h1 {
    font-family: "Century Gothic"; 
    color: #0033a0;
    font-size: 36px;
  }

h2 {
    font-family: "Century Gothic"; 
    color: #0033a0;
    font-size: 30px;
  }

h3 {
    font-family: "Century Gothic"; 
    color: #0033a0;
    font-size: 24px;
  }

h4 {
    font-family: "Arial"; 
    color: #0033a0;
    font-size: 18px;
    padding: 10px 40px 8px 15px;
  }

p {
    font-family: "Century Gothic"; 
    color: black;
    font-size: 20px;
  }

  /* NAVIGATIOBN BAR */
/* Giving our navbar some padding and a background color */

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none !important;
  background-color: Transparent !important;
  outline: #333333 dotted 0px;
}

.navbar-grey {
  color: #333333 !important;
  font-weight: bold !important;
}


/* navbar  background - white*/
.navbar { 
  min-height: 100px; 
  background-color: #FFF !important; 
  border-bottom: #DDD 1px solid !important;
}

/* navbar brand responsive */
.navbar-brand {
  padding: 10px 40px 8px 15px !important; 
  height:100px;
}

.navbar-header {
  margin: 20px 0px !important;
  width: 150px !important;
  /*height: auto;*/
}

.navbar-brand-image {width: 175px; height:77px;}
.navbar-toggle { margin-top: 22px; }
.toggbutton {font-size: .7em; line-height:1em; display:block; font-weight:bold;}
 
.btn-primary {
    color: #fff !important;
    background-color: #0033a0 !important;
    border-color: #333333 !important;
    padding: 10px !important;
  }

.whitebox  {
     background-color: #FFF !important;
     margin-top: 20px !important;
     padding: 20px !important;
  }

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
  .navbar li {
    display: inline-block !important;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer !important;
    background: whitesmoke !important;
    border-radius: 3px;
  }

.nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}